<h3>Messages</h3>

<p>Message count: <strong>{{ messageCount }}</strong></p>

<div class="message-input form-horizontal">
    <label class="col-md-1 control-label">Message:</label>
    <span class="col-md-11">
        <input [(ngModel)]='currentMessage' (keyup.enter)="sendMessage()" [(disabled)]='!connected' placeholder="Type and enter..." class="form-control" /><br />
    </span>
</div>

<div class="message-table">
    <div class="row message-table__row" *ngFor="let chatMessage of chatMessages">
        <span class="col-md-3"><b>{{ chatMessage.user.name }}:</b></span>
        <span class="col-md-9">{{ chatMessage.message }}</span>
    </div>
</div>